/* .parent {
    height: 100vh;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
} */


/* .parent2 {
    height: 100vh;
    display: flex;
}

.one {
    order: 1;
}

.two {
    order: 1;
}

.three {
    order: 0;
} */


/* .background-something {
    color: white;
    background-color: yellow;
} */


/* p {
    font-size: 12px;
}

@media only screen and (min-width: 520px) {
    p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 720px) {
    .background-something {
        background-color: green;
    }
    p {
        font-size: 40px;
    }
} */

.nav-bar {
    width: 100%;
    padding: 10px;
    background-color: #551a8b;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 5px;
}

.links div {
    margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
    .nav-bar {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .header {
        margin-bottom: 0px;
    }
    .links {
        display: flex;
    }
    .links div {
        margin-right: 10px;
    }
}